# Copyright 2021 SECO Mind Srl
#
# SPDX-License-Identifier: CC0-1.0

#build directory
build
.idea
cmake-build*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

examples/**/build
examples/**/sdkconfig
examples/**/sdkconfig.old
examples/edgehog_app/components/astarte-device-sdk-esp32

doc/out
/examples/edgehog_app/managed_components/
/examples/edgehog_app/dependencies.lock

# VS code config
.vscode/

# LSP cache
.cache

# Private files
*.priv
