# Do not include SoftAP in the build process. As we do not need to work as an Access Point.
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="edgehog_partition_example.csv"
